@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body {
    background-image: linear-gradient(to center,white, rgb(231, 231, 231));
}

body {
    display: block;
}

a {
    color: inherit;
}

header {
    background-image: linear-gradient(to bottom, rgb(127, 157, 240), rgb(178, 197, 238), white);
}

div.top {
    background-color: rgba(255, 255, 255, 0);
    position: static;
    left: 40%;
}

.logo {
    position: relative;
    left: 85px;
}

img#insta {
    text-align: right;
}

p#redes {
    text-align: right;
    font-size: 12px;
    transform: translateY(97px);
}

a {
    text-decoration: none;
}

p#center {
    text-align: center;
}

i#burguer {
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: wheat;
    color: black
}

menu {
    display: none;
    overflow: hidden;
    box-shadow: 0px 4px 0px rgba(26, 56, 189, 0.74);
    padding-bottom: 6px;
    position: relative;
}

menu > ul {
    list-style-type: none;
    text-align: center;
    line-height: 0.7em;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(47, 86, 216);
    color: white;
    border-top: 2px solid gray;
    border-radius: 0px 8px 0px 8px;
}

menu > ul > li > a:hover {
    background-color: rgb(8, 27, 77);
    box-shadow: 4px 4px 4px rgb(92, 115, 247);
    transition: 0.3s;
    transform: translateY(-6px);
}

main {
    min-width: 320px;
    max-width: 900px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

section {
    padding-top: 5vh;
    padding-bottom: 6vh;
    line-height: 2em;
    padding-left: 30px;

}

section > h2 {
    padding-bottom: 10px;
    text-align: center;
}

section > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

section.normal {
    background-color: white;
    color: black;
}

img#adap {
    width: 50%;
    max-width: 800px;
}

img#adap2 {
    width: 70%;
    max-width: 1400px;
}

div#card {
    justify-content: center;
    background-image: radial-gradient(circle, rgb(141, 159, 209), rgb(190, 194, 204), white);
    border-radius: 10px;
    width: 38vw;
    min-width: 130px;
    max-width: 240px;
    height: 38vw;
    min-height: 150px;
    max-height: 240px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.39);
    background-size: 100% 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

p#inform {
    text-align: center;
}

img#icard {
    width: 80%;
    padding-left: 10px;
}

div > a > p#card {
    font-size: 22px;
    text-align: center;
    padding-top: 0px;
    color: rgba(0, 0, 0, 0.808);
}

div#card:hover {
    background-image: radial-gradient(circle, white, rgb(190, 194, 204), rgb(166, 182, 226));
    box-shadow: 2px 2px 2px 2px rgba(63, 150, 221, 0.623);
}

li.texto {
    text-align: left;
}

#image-container {
    display: none;
    position: absolute;
    top: 600px;
    left: 50px;
}
  
#hover-image {
    width: 110%;
    min-width: 800px;
}
  
.hover-image {
    cursor: pointer;
    text-decoration: underline;
  }

section.imagem {
    height: 500px;
    background-color: gray;
    color: black;
    box-shadow: inset 6px 6px 13px 0px rgb(26, 25, 25);
    background-attachment: fixed;
}

section.imagem > h2 {
    background-color: rgba(255, 255, 255, 0.336);
    color: black;
    box-shadow: inset 6px 6px 13px 0px rgb(26, 25, 25);
    padding-bottom: 10px;
    text-align: center;
}

section.imagem > p {
    background-color: rgba(255, 255, 255, 0.329);
    color:black;
    padding: 3px;
    display: inline-block;
}

section#img01 {
    height: 300px;
    background-image: url('../imagens/juntas.jpg');
    background-position: center center;
    background-size: cover;
}

section#img02 {
    background-image: url('../imagens/HB20Global.jpeg');
    background-position: left center;
    background-size: cover;
}

section#img03 {
    background-image: url('../imagens/F7corrida.jpeg');
    background-position: center center;
    background-size: cover;
}

section#img04 {
    background-image: url('../imagens/HB20.jpeg');
    background-position: center right;
    background-size: cover;
}

p#leg {
    color: black;
    font-size: 12px;
    text-align: right;
}

p#legc {
    color: black;
    font-size: 12px;
    text-align: center;
}

div {
    background-color: rgba(0, 0, 0, 0.699);
}

div > ul > li {
    display: inline-block;
    padding: 5px;
    text-align: center;
    color: white;
    font-weight: bolder;
    border-top: 2px solid gray;
}

div > ul > li a:hover {
    text-decoration: underline;
}

h1 {
    padding-top: 28px;
    font-size: 48px;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.icon {
    width: 40px;
    height: 40px;
    position: sticky;
    left: 160px;
}

.contato {
    background-image: radial-gradient(circle, white, rgb(190, 194, 204), rgb(166, 182, 226));
    box-shadow: 2px 2px 2px 2px rgba(63, 150, 221, 0.623);
    font-size: 24px;
    height: 125px;
    justify-content: center;
    border-radius: 10px;
    max-width: 380px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.39);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

p.simples {
    font-size: 14px;
    margin: -8px;
    padding: -8px;
}

div.contato:hover {
    background-image: radial-gradient(circle, rgb(166, 182, 226), rgb(190, 194, 204), white);
    box-shadow: 2px 2px 2px 2px rgba(6, 13, 19, 0.623);
}

/* Estilo para o menu lateral */
#sidebar {
width: 200px;
background-color: #f0f0f0;
}

/* Estilo para as marcas */
.marca {
cursor: pointer;
}

/* Estilo para os modelos */
.modelo {
cursor: pointer;
margin-left: 10px;
}

/* Estilo para as peças */
.peca {
cursor: pointer;
margin-left: 20px;
}

/* Oculta os submenus por padrão */
.modelo-list,
.peca-list {
display: none;
}

footer.rodape {
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

footer.dev {
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}